/* Variables manually replaced */
.cat {
  position: relative;
  height: 100px;
  width: 113px;
}

.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: #fff;
}

.ear::before,
.ear::after {
  content: '';
  position: absolute;
  bottom: 24%;
  height: 10%;
  width: 5%;
  border-radius: 50%;
  background: #161616;
}

.ear::after {
  transform-origin: 50% 100%;
}

.ear_left {
  left: -7%;
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-15deg);
}

.ear_left::before,
.ear_left::after {
  right: 10%;
}

.ear_left::after {
  transform: rotate(-45deg);
}

.ear_right {
  right: -7%;
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(15deg);
}

.ear_right::before,
.ear_right::after {
  left: 10%;
}

.ear_right::after {
  transform: rotate(45deg);
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #161616;
  border-radius: 50%;
}

.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: #fff;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.eye::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50% / 0 0 40% 40%;
  background: #161616;
  animation: blink 4s infinite ease-in;
}

@keyframes blink {
  0% {
    height: 0;
  }
  90% {
    height: 0;
  }
  92.5% {
    height: 100%;
  }
  95% {
    height: 0;
  }
  97.5% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.eye::before {
  content: '';
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background: #fff;
  border-radius: 50%;
}

.eye_left {
  left: 0;
}

.eye_left::before {
  right: -5%;
}

.eye_right {
  right: 0;
}

.eye_right::before {
  left: -5%;
}

.eye_pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: #161616;
  border-radius: 50%;
  animation: look-around 1.5s infinite;
}

@keyframes look-around {
  0% {
    transform: translate(0);
  }
  16% {
    transform: translate(50%, -25%);
  }
  32% {
    transform: translate(50%, -25%);
  }
  48% {
    transform: translate(-100%, -25%);
  }
  64% {
    transform: translate(-100%, -25%);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.eye_left .eye_pupil {
  right: 30%;
}

.eye_right .eye_pupil {
  left: 30%;
}

.eye_pupil::after {
  content: '';
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 50%;
  background: #fff;
}

.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: #fff;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

.footer {
  width: 100%;
  background: #161616;
}

.footer_hidden {
  display: none;
}

.wrapper {
  height: 146px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.cat_paw {
  position: relative;
  bottom: 56px;
}
.cat_paw.animate {
  animation-name: scratch;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-fill-mode: forwards;
}

@keyframes scratch {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
